<div class="page-header" ng-controller="ShowTopicController">
  <h1>{{topic.name}}</h1>
</div>

<p>
  {{topic.description}}
</p>

<h2 ng-pluralize count="messageAmount"
                  when="{'0': 'Ei viestejä.',
                        '1': '1 viesti.',
                        'other': '{} viestiä.'}">
</h2>

<ul class="media-list">
  <li class="media" ng-repeat="message in messages">
    <div class="media-body">
      <h4 class="media-heading">
        <a href="#/messages/{{message.id}}">{{message.title}}</a>
      </h4>

      <p>
        {{message.content}}
      </p>

      <p class="text-muted">
        {{message.User.username}}, {{message.createdAt | date : "d.M.y HH:mm"}}
      </p>
    </div>
  </li>
</ul>

<div ng-controller="ShowTopicController">
  <div ng-if="userLoggedIn">
    <h2>Lisää oma viestisi</h2>
    
    <form>
      <div class="form-group">
        <label>Otsikko</label>
        <input type="text" class="form-control" ng-model="$parent.newMessage.title">
      </div>
    
      <div class="form-group">
        <label>Viesti</label>
        <textarea class="form-control" ng-model="$parent.newMessage.content"></textarea>
      </div>
      <button class="btn btn-success" ng-click="$parent.addMessage()">Lisää viesti</button>
    </form>
  </div>
</div>