<div class="page-header" ng-controller="ShowMessageController">
  <h1>{{message.title}}</h1>
</div>

<p>
  {{message.content}}
</p>

<h2 ng-pluralize count="replyAmount"
                  when="{'0': 'Ei viestejä.',
                        '1': '1 viesti.',
                        'other': '{} viestiä.'}">
</h2>

<ul class="media-list">
  <li class="media" ng-repeat="reply in replies">
    <div class="media-body">
      <h4 class="media-heading" ng-controller="UsersController">{{user.username}}</h4>

      <p>
        {{reply.content}}
      </p>

      <p class="text-muted">
        {{reply.createdAt | date : "d.M.y HH:mm"}}
      </p>
    </div>
  </li>
</ul>

<div ng-controller="ShowMessageController">
  <div ng-if="userLoggedIn">
    <h2>Lisää oma vastauksesi</h2>
    
    <form>
      <div class="form-group">
        <label>Vastaus</label>
        <textarea class="form-control" ng-model="$parent.newReply.content"></textarea>
      </div>
      <button class="btn btn-success" ng-click="$parent.addReply()">Lisää vastaus</button>
    </form>
  </div>
</div>