<div class="page-header" ng-controller="UsersController">
  <h1>Kirjaudu sisään</h1>
</div>

<form>
  <div>{{errorMessage}}</div>
  <div class="form-group">
    <label>Käyttäjätunnus</label>
    <input type="text" class="form-control" ng-model="username">
  </div>

  <div class="form-group">
    <label>Salasana</label>
    <input type="password" class="form-control" ng-model="password">
  </div>

  <button class="btn btn-primary" ng-click="login()">Kirjaudu sisään</button>
</form>
