<div class="page-header" ng-controller="UsersController">
  <h1>Rekisteröidy</h1>
</div>

<form>
  <div>{{errorMessage}}</div>
  <div class="form-group">
    <label>Käyttäjätunnus</label>
    <input type="text" class="form-control" ng-model="newUsername" required>
  </div>

  <div class="form-group">
    <label>Salasana</label>
    <input type="password" class="form-control" ng-model="newPassword1" required>
  </div>

  <div class="form-group">
    <label>Salasana uudelleen</label>
    <input type="password" class="form-control" ng-model"newPassword2" required>
  </div>

  <button class="btn btn-success" ng-click="register()">Rekisteröidy</button>
</form>
